@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin section-title {
  font-size: $section-title-size;
  line-height: $section-title-line-height;
  font-weight: $section-title-weight;
}
