// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$middle-width: 1024px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Fonts
$primary-font: "Nyashasans", "Arial", sans-serif;

//Colors
$base-color-text: #000000;
$light: #ffffff;
$bg-color-one: #ffe249;
$bg-color-two: #f668a2;
$bg-color-three: #92ccfe;
$status-error: #ff8282;

//Title
$section-title-size: 20px;
$section-title-line-height: 33px;
$section-title-weight: 700;
